@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Exo", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* css customization for parent elements */
@layer base {
  /* smooth animations */
  *,
  html {
    @apply antialiased lg:transition-transform lg:duration-150;
  }
  button {
    @apply px-6 py-3 text-base font-bold tracking-wider text-center rounded-xl lg:text-lg xl:text-xl sm:w-fit focus:ring-4 focus:ring-ringLight dark:focus:ring-ringDark hover:opacity-90;
  }
}
